<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <!-- this settings file is injected into the docker build image in order to be able to deploy to nexus -->
    
    <localRepository/>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <servers>
        <server>
              <id>InternalReleases</id>
              <username>deployment</username>
              <password>deployment</password>
        </server>
        <server>
              <id>InternalSnapshots</id>
              <username>deployment</username>
              <password>deployment</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
                <id>nexus</id>
                <url>http://nexus.uk.novamedia.com:8081/nexus/content/groups/public</url>
                <mirrorOf>central</mirrorOf>
        </mirror>
  </mirrors>
  <proxies/>
  <profiles/>
  <activeProfiles/>
    
</settings>
    
